

 @font-face {
font-family: grado;
src: url(fonts/GradoGradooNF.ttf);
src: url(fonts/GradoGradooNF.otf);

}

h1, footer {         /* only affects tour dates and contact page*/
  text-align: center;

}

h1{
  color: white;
}

footer{
  color: white;
}

h1, .des, .textW, .contactW{
  font-family: grado, san-serif, Helvetica;   /*gets the font defined in @font-face*/
  color: white;
}

.textW{
  font-size: 20px;
}
.des2{
  font-family: Bookman, Palatino, Courier New;  
  color: white; 
}

a{
  font-family: grado, san-serif, Helvetica;
  font-size: 22px;
  color: #DAA520;
}

a:visited {
  color: white;
}
a:hover {
  font-weight: bold;
}

a:active {
  text-decoration: none;
}

/*centers links in navigation bar*/

  .nb{
      text-align: center;
    }
 
  body{
      background-image: url("images/redAndBlack.jpg");
      background-repeat: no-repeat;
      background-size: cover;
  }

  .dropdown{
    position: relative;
    left: 400px;
    bottom: 150px;
    display: inline;
  }

